.card {
  display         : flex;
  flex-direction  : column;
  justify-content : baseline;
  color           : var(--white);
  background-color: var(--light-violet);
  border          : 1px solid var(--orange);
  border-radius   : 10px;
  padding         : 16px;
  gap             : 10px;

  .type {
    align-self: flex-start;
  }

  .header {
    font-size       : 25px;
    align-items     : center;
    background-color: var(--orange);
    border-radius   : 10px;
    padding         : 8px;
    overflow-wrap   : anywhere;

    a {
      color: var(--white);
    }
  }

  .image {
    margin-top: auto;
    min-width : 150px;
  }
}
